<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cozy_Cuisine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Cozy_Cuisine.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/84ccdc0b43.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/admin_layout.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="adnav navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-3 fixed-top">
            <div class="container-fluid">
                <a class="menu p-1 me-2 text-center rounded" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    <i class="i-sec fa-solid fa-bars fa-xl" style="color: #D0B8A8;"></i>
                </a>
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Logo" class="me-2">
                    <span class="gamename">Cozy Cuisine</span>
                </a>

                <div class="d-flex align-items-center ms-auto">
                    <a class="nav-link me-2 p-1 text-center rounded">
                        <i class="i-sec fa-solid fa-bell fa-xl" style="color: #D0B8A8;"></i>
                    </a>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="nav-link p-1 text-center rounded">
                            <i class="i-sec fa-solid fa-right-from-bracket fa-xl" style="color: #D0B8A8;"></i>
                        </button>
                    </form>
                </div>
                @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@
            </div>
        </nav>


       
    </header>
    <div class="d-flex">
        <div class="side offcanvas offcanvas-start show" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-bs-backdrop="false" data-bs-scroll="true">
            @* <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div> *@
            <div class="offcanvas-body p-0">
                <a asp-action="Dashboard" asp-controller="Manage" class="text-decoration-none">
                    <div class="abtn container-fluid p-3 @(ViewContext.RouteData.Values["action"].ToString() == "Dashboard" ? "active" : "")">
                        <span><i class="i-sec fa-solid fa-table-columns fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Dashboard</span>
                    </div>
                </a>
                <a asp-action="FAQManagement" asp-controller="Manage" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-circle-question fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">FAQs</span>
                    </div>
                </a>
                <a asp-action="StoryPlotManagement" asp-controller="Wiki" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-book-open fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Story Plot Management</span>
                    </div>
                </a>
                <a asp-action="MessageManagement" asp-controller="Manage" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-address-book fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Messages Management</span>
                    </div>
                </a>
                <a asp-action="CreditsManagement" asp-controller="Manage" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-award fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Credits Management</span>
                    </div>
                </a>
                <a asp-action="NewsManagement" asp-controller="Manage" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-newspaper fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">News Management</span>
                    </div>
                </a>
                <a asp-action="BugReportManagement" asp-controller="Patch" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-bug fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Bug Report</span>
                    </div>
                </a>
                <a asp-action="WikiManagement" asp-controller="Wiki" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-book fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Wiki</span>
                    </div>
                </a>
                <a asp-action="GameplayManagement" asp-controller="Wiki" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-puzzle-piece fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Gameplay</span>
                    </div>
                </a>
                <a asp-action="GameItemsManagement" asp-controller="Wiki" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-drumstick-bite fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Game Items</span>
                    </div>
                </a>
                <a asp-action="CharacterManagement" asp-controller="Wiki" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-masks-theater fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Character Management</span>
                    </div>
                </a>
                <a asp-action="LocationManagement" asp-controller="Wiki" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-location-dot fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Location Management</span>
                    </div>
                </a>
                <a asp-action="AboutManagement" asp-controller="Manage" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-circle-info fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">About</span>
                    </div>
                </a>
                <a asp-action="MediaManagement" asp-controller="Manage" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-image fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Media</span>
                    </div>
                </a>
                <a asp-action="PatchManagement" asp-controller="Patch" class="text-decoration-none">
                    <div class="abtn container-fluid p-3">
                        <span><i class="i-sec fa-solid fa-screwdriver-wrench fa-xl" style="color: #603f26;"></i></span>
                        <span class="pgname">Patches</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="content flex-grow-1 p-3 mt-3">
            <main role="main" class="pb-3 mt-5 pt-2 ">
                @RenderBody()
            </main>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    @* Makes all Tables to become DataTable  *@
    <script>
        $(document).ready(function() {
            // Initialize DataTables for all tables on the page
            $('table').DataTable();
        });
    </script>
    @* Sweet Alert Success and Error *@
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var message = '@TempData["Success"]';
            if (message) {
                Swal.fire({
                    title: "Success!",
                    text: message,
                    icon: "success",
                    background: "#f8f4f1",
                    color: "#603f26",
                    confirmButtonColor: "#603f26",
                    confirmButtonText: "OK",
                });
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var message = '@TempData["Error"]';
            if (message) {
                Swal.fire({
                    title: "Error!",
                    text: message,
                    icon: "Error",
                    confirmButtonText: "OK"
                });
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
