@model Cozy_Cuisine.ViewModels.LocationManagementVM
@{
    Layout = "Admin_Layout";
    ViewData["Title"] = "Dashboard";
}
@* TEMPORARY CSS LANG DASHBOARD *@
<link href="~/css/dashboard.css" rel="stylesheet" />


<form id="locationForm" method="post" asp-controller="Wiki" asp-action="CreateLocation" onsubmit="confirmSubmit(event)">
    <div>
        <label asp-for="NewLocation.Name"></label>
        <input type="text" asp-for="NewLocation.Name" class="form-control" required />
    </div>
    <div>
        <label asp-for="NewLocation.Description"></label>
        <textarea asp-for="NewLocation.Description" class="form-control" rows="3" required></textarea>
    </div>
    <div>
        <label asp-for="NewLocation.URLGif"></label>
        <input asp-for="NewLocation.URLGif" class="form-control" placeholder="One GIF link only (Optional):">
    </div>
    <div>
        <label asp-for="NewLocation.URLImageList"></label>
        <input asp-for="NewLocation.URLImageList" class="form-control" placeholder="One image link only" required>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Location ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>URL Gif</th>
            <th>URL Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Locations != null && Model.Locations.Any())
        {
            @foreach (var locations in Model.Locations)
            {

                <tr>
                    <td>@locations.LocationId</td>
                    <td>@locations.Name</td>
                    <td>@locations.Description</td>
                    <td>
                        @{
                            var gifUrl = locations.URLGif; // assuming this contains a full GDrive URL
                            var giffileId = "";
                            var gifparts = gifUrl?.Split('/');
                            if (gifparts != null && gifparts.Length >= 6)
                            {
                                giffileId = gifparts[5];
                            }

                            var gifpreviewUrl = $"https://drive.google.com/file/d/{giffileId}/preview";
                        }

                        @if (!string.IsNullOrEmpty(giffileId))
                        {
                            <iframe src="@gifpreviewUrl" width="300" height="200" style="border: none;"></iframe>
                        }
                        else
                        {
                            <span>No Image Uploaded</span>
                        }
                    </td>
                    <td>
                        @{
                            var imageUrl = locations.URLImageList;
                            var imgFileId = "";

                            if (!string.IsNullOrEmpty(imageUrl) && imageUrl.Contains("drive.google.com/file/d/"))
                            {
                                var parts = imageUrl.Split('/');
                                if (parts.Length >= 6)
                                {
                                    imgFileId = parts[5];
                                }
                            }

                            var previewImgUrl = $"https://drive.google.com/file/d/{imgFileId}/preview";
                        }

                        @if (!string.IsNullOrEmpty(imgFileId))
                        {
                            <iframe src="@previewImgUrl" width="150" height="150" style="border: none;"></iframe>
                        }
                        else
                        {
                            <span>No image available</span>
                        }
                    </td>
                    <td>

                        <a asp-action="DetailLocation" asp-route-id="@locations.LocationId" class="actionsbtn focus-ring btn btn-sm mb-1"><i class="fa-solid fa-eye fa-sm"></i>View</a>

                        @* opens a modal popup to make the changes *@
                        <button type="button" class="actionsbtn focus-ring btn btn-sm mb-1"
                                data-bs-toggle="modal"
                                data-bs-target="#editLocationModal"
                                data-id="@locations.LocationId"
                                data-name="@locations.Name"
                                data-description="@locations.Description"
                                data-urlimg="@locations.URLImageList"
                                data-urlgif="@locations.URLGif">
                            <i class="fa-solid fa-pen-to-square fa-sm"></i>
                            Edit
                        </button>


                        <form class="d-inline" id="deleteForm-@locations.LocationId" method="post" asp-action="DeleteLocation" asp-route-id="@locations.LocationId">
                            <button type="button" class="actionsbtn focus-ring btn btn-sm mb-1" onclick="confirmDelete(event, 'deleteForm-@locations.LocationId')"><i class="fa-solid fa-trash fa-sm"></i>Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@* MODAL POPUP FOR EDITING RECORD *@
<div class="modal fade" id="editLocationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="editCharacterForm" method="post" asp-action="EditLocation">
                    <input type="hidden" id="locationid" name="LocationId">

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="Name" required>
                    </div>
                   
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="Description" rows="8" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">URLGif</label>
                        <input class="form-control" id="urlgif" name="URLGif" placeholder="One GIF link only (Optional):">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">URL Image</label>
                        <input type="text" class="form-control" id="urlimg" name="URlImageList" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function confirmSubmit(event) {
                event.preventDefault(); // Stop form submission

                Swal.fire({
                    title: "Are you sure?",
                    text: "You can always delete or edit the record later.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, submit it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                         document.getElementById("locationForm").submit();
                    }
                });

                return false; // Prevent immediate submission
            }
        function confirmDelete(event, formId) {
            event.preventDefault();

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                console.log("Swal result:", result); // Debugging line
                if (result.isConfirmed) {
                    console.log("Form submission triggered:", formId); // Debugging line
                    document.getElementById(formId).submit();
                }
            });
        }

    </script>
    <script>
        $(document).ready(function () {
            $(".actionsbtn").click(function () {
                let locationid = $(this).data("id");
                let name = $(this).data("name");
                let description = $(this).data("description");
                let urlgif = $(this).data("urlgif");
                let urlimg = $(this).data("urlimg");

                // Set values in the modal
                $("#locationid").val(locationid);
                $("#name").val(name);
                $("#description").val(description);
                $("#urlgif").val(urlgif);
                $("#urlimg").val(urlimg);
            });
        });

    </script>
}   